.room-visualizer-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 120px; /* Add padding to the top */
    /*padding-bottom: 200px;*/
}

.room-svg {
    border: 1px solid black; /* Add border for visualization */
    align-items: center;
}
.h2{
    fill: white;

}
